// Mainly for gradients
$l-blue: #8570DE;
$l-purple: #CC0ED2;

// Gradient color for roundr logo
$top-g: #A44FF9;
$bot-g: #F374AF;

// Font colors
$black-1: #3E3E3E;
$black-2: #6A6A6A;
$black-3: #8B8B8B;
$black-4: #C1C1C1;

$blue-1: #164CFF;

// Breakpoints for media queries
$breakpoints: (
    sm: 30rem,
    m: 48rem,
    lg: 64rem 
);